/* TITRE : [STYLE GENERAL] : Style du body, du texte, etc... */

/* ###### Style du body ###### */
body {
  width: 100dvw;
  min-height: 100dvh;
  background: var(--background-color-primary);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-text);
  letter-spacing: 1px;
  color: var(--color-text-primary);
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr 160px;
  grid-template-areas:
    'sb he'
    'sb ma'
    'sb fo';
}

/* ###### Style des liens ###### */
a,
a:visited {
  display: inline-block;
  color: var(--color-accent-primary-light);
  font-family: var(--font-text);
  transition: all var(--transition-normal);
}

/* ###### Style du texte ###### */

/* (1) Texte invisible */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
