/* §---------------------------------------------
§                 STYLE GENERAL                  
§        Style du body, du texte, etc...         
§--------------------------------------------- */

/**==============================================
**                Style du body
**===============================================**/
body {
  width: 100dvw;
  min-height: 100dvh;
  background: var(--background-color-primary);
  overflow-x: hidden;
  font-family: var(--font-text);
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--color-text-primary);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/*# ------- Mode Modale = .modaleMode ------- #*/
.container.modaleMode {
  display: none;
}

/**==============================================
**               Style des liens
**===============================================**/
a,
a:visited {
  display: inline-block;
  color: var(--color-accent-primary-light);
  font-family: var(--font-text);
  transition: all var(--transition-normal);
}

/**==============================================
**               Style du texte
**===============================================**/

/**============= Texte invisible ==============*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
