/* §---------------------------------------------
§                     RESET                      
§        Reset des réglages navigateurs          
§--------------------------------------------- */

/**==============================================
**                Reset de base
**===============================================**/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**==============================================
**                   Scroll
**===============================================**/
html {
  scroll-behavior: smooth;
}

/**==============================================
**               Reset de style
**===============================================**/

/**==== Retrait des bullet points aux li ======*/
li {
  list-style: none;
}

/* * Réinitialisation de la couleur de la police 
* et retrait du soulignage =================== */
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

/**= Images et médias (block pour le layout) ==*/
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* * Hérite de la police du parent, reset des 
* bordures et du background ================== */
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
